{% extends 'layout.html' %}

{% block title %}List User{% endblock %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">User</li>
    </ol>
</nav>
{% endblock %}

{% block content %}
<table class="table table-bordered">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Handle</th>
    </tr>
    </thead>
    <tbody>
    {% for user in users %}
    <tr>
        <td></td>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>
            <a class="red" href="{{ url_for('delete_user', id=user['_id']) }}">Delete</a>
            <a class="" href="{{ url_for('edit_user', id=user['_id']) }}">Edit</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}